body {
    margin: 0%;
    padding: 0%;
    background-image: url(img/Rock\ 1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#dispDiv{
    /* background-image: linear-gradient(50deg,#d468ac,#ab4aff); */
    text-align: center;
}
#displayButton{
    border-radius: 10px;
    background-color: rgba(53, 24, 218, 0.767);
}
input{
    border-radius: 10px;
    background-color: rgba(24, 27, 218, 0.767);
}
select{
    border-radius: 10px;
    background-color: rgba(43, 24, 218, 0.767);
}

